{% extends 'base.html' %}
{% block title %}修改商品售价{% endblock %}
{% block content %}
<h2>修改商品进价</h2>
<form method="post">
  <div class="mb-3">
    <label class="form-label">商品编号</label>
    <input name="product_id" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">新进价</label>
    <input name="new_price" type="number" step="0.01" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">更新并记录日志</button>
</form>
{% endblock %}
